In [1]:

import  pandas as pd

In [2]:
 datos  = pd.read_csv('/content/materias (2).csv')

In [3]:
datos

    Alumno Curso  Materias Previas  Materias Desaprobadas
0      Ana    5A                 2                      1
1     Pepe    4B                 1                      4
2    Juana    5A                 0                      3
3    Lucia    3C                 2                      0
4      pao    5B                 0                      2
5     Mili    6A                 3                      1
6    Kevin    5B                 4                      2
7  Luciano    3A                 5                      2
8   Selena    6B                 1                      0

In [5]:
df1 = pd.DataFrame(datos)

In [6]:
datos.head(1)

  Alumno Curso  Materias Previas  Materias Desaprobadas
0    Ana    5A                 2                      1

In [7]:
datos.tail(1)

   Alumno Curso  Materias Previas  Materias Desaprobadas
8  Selena    6B                 1                      0

In [12]:

previas_filtrado = df1["Materias Previas"]==0

In [13]:
df1[previas_filtrado]

  Alumno Curso  Materias Previas  Materias Desaprobadas
2  Juana    5A                 0                      3
4    pao    5B                 0                      2